<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, Logged In User!</h1>
    <br>
    {% if notLogged == 1 %}
        <h3>Whoops! Your Session verification didnt work... Please</h3>
        <a href="/login.html">Login Again!</a>
        <br>
    {% endif %}
    {% if has_subdomain == 0 %}
        <h3>Wanna make a new Domain?</h3>
        <br><br>
        <form method="post" action="/make_domain.html">
            <h6>Your Subdomain name (e.g. for test.freedomain.meme, input please ONLY test)</h6>

            {% if error ==-2 %}
                <h1>Do NOT include ".freedomain.meme" in the field Below. Thanks!</h1>
            {% endif %}

            <input type="text" name="domainname" required>
            <br><br>
            <h6>The IP where it goes to</h6>
            <input type="text" name="ip" required>
            <br><br>
            <input type="submit" value="submit">
        </form>
        <br><br>
    {% endif %}

    {% if sucsess_create == 1%}
        <h3>Created Your Subdomain!!!</h3>
    {% endif %}
    {% if error_create == 1%}
        <h3>Couldn't create your subdomain...</h3>
    {% endif %}
    {% if ban_create == 1%}
        <h3>You got Limited by our Automated service.</h3>
    {% endif %}
    {% if error == -3%}
        <h3>You got Limited by our Web scraper, as it belives you have not Bad Words on your website. If you belive, this is an error, contact Support.</h3>
    {% endif %}
    {% if error == -10%}
        <h3>You got Limited by our Web scraper, as it Found no content. If you belive, this is an error or you "accidentally" registerd a dead ip, contact Support.</h3>
    {% endif %}
    {% if has_subdomain == 1 %}
        <h3>Your Subdomain is Currently {{subdomainname}}.freedomain.meme!</h3>
        <br>
        <h3>It is redirecting to {{ip}}</h3>

        <form methode="post" action="/removedomain.html">
            <h5>Want do delete Your Subdomain?</h5>
            <br><br>
            <input type="submit" value="submit">
        </form>
    {% endif %}
    <h1>What else?</h1>
    Well idk. There isnt moucht to do instad of 
    <a href="https://github.com/TherealONE12">goto my Github Page</a>
    or maybe
    <a href="https://hackclub.com">Look at Hackclub!</a>

</body>
</html>