<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Welcome To FreeDomain!</h3>
    <br><br>
    <h5>Why are we doing this</h5>
    <br>
    <p>Everyone should have an domain. And when I made my own small homeserver, I was frustrated as there was no good, modern and easy to use free domain system. All that
    I saw where only behind invite-only codes, long closed or not working. So, I decided to m,ake my own Free domain service. 
    </p>
    <br>
    <h5>Whats the catch?</h5>
    <p> Well, there is... None?</p>
    <p>No seriusly. Just try it out! You only need to register yourself an account, where you just need an Authenticator app and thats it. No personal information
        is needed. Once registering, you will get an Log - In code, and you will setup Authy or any other alternative authenticator app. And then you are ready to go!
    </p>
    <br>
    <h5>My account is limited!!! What should I do?</h5>
    <p>Please contact support. </p>
    <p>If this happen right afther login, this may Indicate that there is another user already registert from this ip. If you belive, this is wrong Contact Support</p>
    <p>If you lost your login coode and made therevore an new accouint, contact us.</p>
    <p>If this happend douring Domain registration, This may Indicate an automatic trigger of our Security system. We will review your registert domain name and we will let you know what happend</p>
    <br>
    <h5>Something doesnt look right</h5>
    <p>Please contact support</p>
    
</body>

</html>