<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, Logged In User!</h1>
    <br>
    <h3>Wanna make a new Domain?</h3>
    <br><br>
    <form method="post" action="/make_domain.html">
        <h6>Your Subdomain name (e.g. for test.freedomain.meme, input please ONLY test)</h6>
        <input type="text" name="domainname" required>
        <br><br>
        <h6>The IP where it goes to</h6>
        <input type="text" name="ip" required>
        <br><br>
        <input type="submit" value="submit">
    </form>

    <h1>What else?</h1>
    Well idk. There isnt moucht to do instad of 
    <a href="https://github.com/TherealONE12">goto my Github Page</a>
    or maybe
    <a href="https://hackclub.com">Look at Stardance!</a>

</body>
</html>