<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>
</head>
<body>
    <h1>Help Needed?</h1>
    <br>
    <p>Contact me on Discord (jakcom), write an Mail (TheSkriptKid@proton.me) or msg me via Slack!</p>
    <p>Or go checkout the faq for my website!</p>
    <br><br>
    <h2>Or Other questions?</h2>
    <br>
    <p>If this gets big enought, I may or may not start an DIscord or an signal chat or telegram or whatever.</p>
    <p>So, stay tuned for that stuff!!!</p>
    <br>
    <p>So any,way, If you need anymore help, want to report bugs, or give me features ideas, pls tell me. thxthx</p>
    
</body>
</html>