<!DOCTYPE html>
<html>
    <body>
        <h3>Setup your OTP now - You will need it to login again:</h3>
        <h5>Please 
            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en-US">Download Google Authenticator</a>
        Or 
            <a href="https://f-droid.org/packages/com.beemdevelopment.aegis/">Download Aegis</a>
        Or other TOTP Apps onto your Smartphone and scan then the QR Code. A 6 digits Code should appear. Then, continue.
        </h5>
        <br>
        {% if error is not none %}
            <h4>{{error}}</h4>
        {% endif %}
        <br><br>
        <img src="/static/qr/{{userid}}/qr_auth.png" alt="Your otp password">
        <br><br>
        <a href="otp_input.html"> Continue to Verify OTP</a>
    </body>
</html>